body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #ff5722;
}

div {
    background-color: white;
    width: 250px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px gray;
}

button {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e64a19;
}